@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #cacdd1;
  --foreground: #222121;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #cacdd1;
    --foreground: #222121;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
